@import url("bootstrap.css");

#navigation-column {
	position: fixed;
	width: 225px;
	top: 75px;
	bottom: 0;
	/*background-color: #f5f5f5;*/
	background: url(../img/nav2.jpg) top left repeat-y;
}

#content-column {
	margin-left: 260px;
	margin-top: 70px;
	padding: 5px 0;
}

.nav {
	margin-top: 10px;
}

.navbar-fixed-top .brand {
	margin: 5px 0;
	padding: 0;
	background: url(../img/logo.png) top left no-repeat;
	height: 30px;
	width: 200px;
	text-indent: -5000px;
}

.branding-fixed-top {
	position: fixed;
	height: 36px;
	right: 0;
	left: 0;
	top: 40px;
	z-index: 1030;
	margin-bottom: 0;
	background: url(../img/brandingbg.jpg) top left repeat-x;
}

.branding-fixed-top {
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

p.blog {
  font-size:15px;
  color:#333;
  line-height:1.65;
  margin:0 0 1.2em;
}

.profiler {
	width: 95%;
	margin: 0 auto;
}